body {
    margin: 0em;
    --primary-color: rgb(230, 230, 230);
    --secondary-color: rgb(25, 25, 25);
    --tertiary-color: rgb(1, 83, 1);
    --button: rgb(178, 112, 146);
}

main {
    background-color: var(--primary-color);
}

.maxWidth {
    max-width: 1100px;
    margin: 0em auto;
}
